<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.zfsoft.hrm.dybillgrade.dao.ISpBillGradeConditionDao">

        <sql id="where">
        <where>
            <if test="configId != null">
                and config_id = #{configId}
            </if>
            <if test="billClassId != null">
                and bill_class_id = #{billClassId}
            </if>
        </where>
    </sql>
    
    <select id="findList" resultType="com.zfsoft.hrm.dybillgrade.entity.SpBillGradeCondition">
        select
        <foreach collection="sqlNamesAll" item="item" separator=",">
            <![CDATA[${item} as ${sqlLocalNameMap[item]}]]>
        </foreach>
        from ${tableName} 
        <include refid="where" />
    </select>

    <!-- 表单配置列表，分页显示 -->
    <select id="getPagingList" resultType="com.zfsoft.hrm.dybillgrade.entity.SpBillGradeCondition">
        select * from (select b.*, rownum rn from (select
        *
        from sp_bill_grade_cindition
          <include refid="where" />
          <if test="orderStr != null and orderStr != ''">
            order by ${orderStr}
          </if> 
         ) b )
            <![CDATA[
                where rn>=#{startRow} and rn<=#{endRow}
            ]]>
    </select>
  
    
    <!-- 获取分页计数 -->
    <select id="getPagingCount" resultType="int">
        select 
            count(*) cnt
        from sp_bill_grade_cindition
        <include refid="where"/>
    </select>
    
    <select id="findById" resultType="com.zfsoft.hrm.dybillgrade.entity.SpBillGradeCondition">
        select
        <foreach collection="sqlNamesAll" item="item" separator=",">
            <![CDATA[${item} as ${sqlLocalNameMap[item]}]]>
        </foreach>
        from ${tableName}
        <where>
            ${keyOf}=#{${keyOf}}
        </where>
    </select>
    

    <insert id="insert" keyProperty="id">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            <![CDATA[
            select SYS_GUID() GUID from DUAL
            ]]>
        </selectKey>
        insert into ${tableName}(${keyOf},
        <foreach collection="sqlNamesNoKeyAndNotNull" item="item" separator="," close=")">
            ${item}
        </foreach>
        values (#{${keyOf}},
        <foreach collection="sqlNamesNoKeyAndNotNull" item="item" separator="," close=")">
            #{${sqlLocalNameMap[item]}}
        </foreach>
    </insert>

    <update id="update">
        update ${tableName}
        <set>
            <foreach collection="sqlNamesNoKeyAndNotNull" item="item" separator="," >
                 ${item}=#{${sqlLocalNameMap[item]}}
            </foreach>
        </set>
        where ${keyOf}=#{${keyOf}}
    </update>

    <!-- 删除岗位信息 -->
    <delete id="delete">
        delete from ${tableName} 
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="billClassId != null">
                and bill_class_id = #{billClassId}
            </if>
            <if test="configId != null">
                and config_id = #{configId}
            </if>
        </where>
    </delete>
    
</mapper>