<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.dao.daointerface.IJcsjDao" >

		<!-- 查询基础数据列表（不分页） -->
	<select id="cxJcsjList" parameterType="JcsjModel" resultType="JcsjModel">
		select lx||dm pkValue,lx,dm,mc,(select lxmc from zftal_xtgl_jcsjlxb b where a.lx=b.lxdm) lxmc
			from zftal_xtgl_jcsjb a
		<where>
			<if test="lxdm != null and lxdm != ''">
				and lx = #{lxdm}
			</if>
			<if test="dm != null and dm != ''">
				and dm like '%'||#{dm}||'%'
			</if>
			<if test="mc != null and mc != ''">
				and mc like '%'||#{mc}||'%'
			</if>
		</where>
		order by lx
	</select>
	
			<!-- 查询基础数据列表 （分页）-->
	<select id="getPagedList" parameterType="JcsjModel" resultType="JcsjModel">
		select lx||dm pkValue,lx,dm,mc,(select lxmc from zftal_xtgl_jcsjlxb b where a.lx=b.lxdm) lxmc
			from zftal_xtgl_jcsjb a
		<where>
			<if test="lxdm != null and lxdm != ''">
				and lx = #{lxdm}
			</if>
			<if test="dm != null and dm != ''">
				and dm like '%'||#{dm}||'%'
			</if>
			<if test="mc != null and mc != ''">
				and mc like '%'||#{mc}||'%'
			</if>
		</where>
	</select>
	
		<!-- 查询基础数据类型列表 -->
	<select id="getModelList" parameterType="JcsjModel" resultType="JcsjModel">
		select lxdm,lxmc from zftal_xtgl_jcsjlxb order by lxmc
	</select>
	
	    <!-- 保存基础数据 -->
    <insert id="insert" parameterType="JcsjModel">
    	insert into zftal_xtgl_jcsjb (lx,dm,mc) values (#{lxdm},#{dm},#{mc})
    </insert>
    
    	<!-- 查询单个用户信息 -->
    <select id="getModel" parameterType="JcsjModel" resultType="JcsjModel">
    	select lx lxdm,dm,mc,(select lxmc from zftal_xtgl_jcsjlxb b where a.lx=b.lxdm) lxmc
			from zftal_xtgl_jcsjb a
    	where lx||dm = #{pkValue}
    </select>
    
    	<!-- 修改基础数据 -->
    <update id="update" parameterType="JcsjModel">
    	update zftal_xtgl_jcsjb
    	<set>
    		<if test="dm != null and dm != ''">
    			dm = #{dm},
    		</if>
    		<if test="lx != null and lx !=''">
    			lx = #{lx},
    		</if>
    		<if test="mc != null and mc != ''">
    			mc = #{mc}
    		</if>
    	</set> 
    	where lx||dm =#{pkValue} 
    </update>
    
     <!-- 删除基础数据 -->
    <delete id="batchDelete" parameterType="hashMap"
		flushCache="false" statementType="PREPARED" timeout="20000">
    	delete zftal_xtgl_jcsjb where
    	 <foreach collection="list" item="item" index="index"
				separator=" OR">
			   lx||dm = #{item.pkValue} 
		</foreach>
    </delete>
    
    	<!-- 查询基础数据列表 -->
	<select id="getJcsjList" resultType="JcsjModel">
		select dm,mc from zftal_xtgl_jcsjb where lx = #{lxdm}
	</select>
    
</mapper>