<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.dao.daointerface.ISjfwzDao" >

	<!-- 查询用户角色数据范围信息 -->
	<select id="cxSjfwzYhjs" parameterType="hashMap" resultType="SjfwzModel">
		select 
			a.sjfwztj
  		from 
  			zftal_xtgl_sjfwzb a, zftal_xtgl_yhsjfwb b
 		where 
 			a.sjfwz_id = b.sjfwz_id
		    and b.yh_id = #{yh_id}
		   <foreach collection="list" item="item" index="index"
			  open=" and (" separator="or" close=")">
				 b.js_id = #{item} 
		   </foreach>  
		order by a.sjfwztj
	</select>
 
    
</mapper>