<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.hrm.authpost.post.dao.daointerface.IPostHistoryDao" >
	
	<resultMap type="com.zfsoft.hrm.authpost.post.entities.PostHistory" id="postHistoryMap">
		<result property="guid" column="guid"/>
		<result property="postId" column="gwid"/>
		<result property="duty" column="gwzz"/>
		<result property="level" column="gwdj"/>
		<result property="superiorId" column="sjgwbh"/>
		<result property="planNumber" column="jhbzs"/>
		<result property="deptId" column="bmid"/>
		<result property="postType" column="gwlb"/>
	</resultMap>
	
	<!-- 插入单条信息 -->
	<insert id="insert">
		insert into HRM_BZGL_SNAP(guid,gwid,gwzz,gwdj,sjgwbh,jhbzs,bmid,snap_time)
		select guid,gwid,gwzz,gwdj,sjgwbh,jhbzs,bmid,#{snapTime} from HRM_BZGL_BMGWGLB
	</insert>
	
	<!-- 删除岗位信息 -->
	<delete id="remove" >
		delete from HRM_BZGL_SNAP where snap_time = #{snapTime}
	</delete>
	
	<sql id="where">
    	<where>
    		<if test="deptId != null and deptId != ''">
    			and bmid like #{deptId}||'%'
    		</if>
    		<if test="snapTime != null">
    			and snap_time = #{snapTime}
    		</if>
		</where>
    </sql>
	<!-- 获取分页列表信息 -->
	<select id="getPagingList" resultMap="postHistoryMap">
		select * from (select a.*, rownum rn from (select 
			gwgl.gwid as gwid,
			gwgl.guid as guid,
			gwgl.gwzz as gwzz,
			gwgl.gwdj as gwdj,
			gwgl.sjgwbh as sjgwbh,
			gwgl.jhbzs as jhbzs,
			gwgl.bmid as bmid,
			gwxx.gwlbdm as gwlb
    	 from HRM_BZGL_SNAP gwgl
    	 	left join HRM_BZGL_GWXXB gwxx on gwgl.gwid = gwxx.gwbh
		<include refid="where" />
		order by guid asc
	     ) a )
		<![CDATA[
			where rn>=#{startRow}  and rn<=#{endRow}
		]]>
	</select>
	<!-- 获取分页列表计数 -->
	<select id="getPagingCount" resultType="int">
		select count(*) from HRM_BZGL_SNAP
		<include refid="where" />
	</select>
	
</mapper>