<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zfsoft.hrm.baseinfo.search.dao.daointerface.ICommonSearchDao" >

	<resultMap id="commonSearchMap" type="com.zfsoft.hrm.baseinfo.search.entities.CommonSearch">
		<id property="guid" column="bh" />
		<result property="title" column="bt" />
		<collection property="conditions" column="bh"  select="selectCondition" resultMap="conditionMap"></collection>
	</resultMap>
	
	<resultMap id="conditionMap" type="com.zfsoft.hrm.baseinfo.search.entities.Condition">
		<id property="guid" column="TJXLID" />
	</resultMap>
	<sql id="where">
		<where>
		<if test="guid != null and guid !=''">
			and bh = #{guid}
		</if>
		<if test="title != null and title !=''">
			and bt like '%' || #{title} || '%'
		</if>
		<if test="type != null and type !=''">
			and type = #{type}
		</if>
		</where> 
	</sql>
	
	<select id="findById" parameterType="string" resultMap="commonSearchMap">
		select * from HRM_CXTJ_CYCXB where bh = #{guid}
	</select>
	
	<select id="findList" resultMap="commonSearchMap">
		select * from HRM_CXTJ_CYCXB 
		 <include refid="where" />
	</select>
	
	<select id="selectCondition" parameterType="string" resultMap="conditionMap">
		select * from HRM_CXTJ_CYCXTJXLB where cxbh = #{bh}
	</select>
	
	<insert id="insert">
		insert into HRM_CXTJ_CYCXB (bh,bt,type) values 
			(#{guid},#{title},#{type})
	</insert>
	
	<update id="update">
		update HRM_CXTJ_CYCXB set bt=#{title} where bh = #{guid}
	</update>
	
	<insert id="insertRelation">
		insert into HRM_CXTJ_CYCXTJXLB (cxbh,tjxlid) values 
			(#{guid},#{conditionId})
	</insert>
	
	<update id="updateRelation">
		update HRM_CXTJ_CYCXTJXLB set tjxlid=#{conditionId} where cxbh = #{guid}
	</update>
	
	<delete id="delete" parameterType="string">
		delete from HRM_CXTJ_CYCXB where bh = #{bh}
	</delete>
	
	<delete id="deleteRelation">
		delete from HRM_CXTJ_CYCXTJXLB where cxbh = #{guid} and tjxlid = #{conditionId}
	</delete>
	
	<delete id="deleteRelations" parameterType="string">
		delete from HRM_CXTJ_CYCXTJXLB where cxbh = #{bh}
	</delete>
	
	<select id="findPagingCount"  resultType="int">
        select count(*) from  HRM_CXTJ_CYCXB
        <include refid="where" />
    </select> 
    <select id="findPagingInfoList" resultMap="commonSearchMap">
		select * from (select a.*, rownum rn from (select *
		from HRM_CXTJ_CYCXB left join ZFTAL_XTGL_JSGNMKDMB t 
		on bh = t.gnmkdm
		<include refid="where" />
		order by to_number(t.xssx)   ) a )
		<![CDATA[
			where rn>=#{startRow}  and rn<=#{endRow}
		]]>
	</select>
</mapper>