<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:web="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd "
	version="2.4">
	<error-page>
		<error-code>404</error-code>
		<location>/page/error/404.html</location>
	</error-page>
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>zfsoft.root</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.zfsoft.hrm.listener.InitializeListener</listener-class>
	</listener>
	<!-- Character Encoding filter -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	<!-- 单点登录配置开始 -->
	<!--<servlet>
		<servlet-name>ZfssoLoginServlet</servlet-name>
		<servlet-class>com.zfsoft.zfca.tp.cas.client.zfsso.ZfssoLogin</servlet-class>
		<init-param>
			<param-name>setsessionclass</param-name>
			<param-value>com.zfsoft.hrm.common.SsoSetSession</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ZfssoLoginServlet</servlet-name>  
		<url-pattern>/zfssologin</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>
			com.zfsoft.zfca.tp.cas.client.logout.SingleSignOutHttpSessionListener
		</listener-class>
	</listener>
	
	<filter>
		<filter-name>Zfca Single Sign Out Filter</filter-name>
		<filter-class>
			com.zfsoft.zfca.tp.cas.client.logout.SingleSignOutFilter
		</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>Zfca Single Sign Out Filter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>ZFSSO Filter</filter-name>
		<filter-class>com.zfsoft.zfca.tp.cas.client.filter.ZFSSOFilter</filter-class>
		
		<init-param>
			<param-name>setsessionclass</param-name>
			<param-value>com.zfsoft.hrm.common.SsoSetSession</param-value>
		</init-param>
		<init-param>
			<param-name>notCheckURLList</param-name>
			<param-value>/WEB-INF/pages/globalweb/login.jsp</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>ZFSSO Filter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>-->
	<!-- 单点登录配置结束 -->
	
	<servlet>
        <servlet-name>DisplayChart</servlet-name>
        <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>DisplayChart</servlet-name>
        <url-pattern>/servlet/DisplayChart</url-pattern>
    </servlet-mapping>

	<!-- 对图片、附件上传类不进行request的inputStream读取 -->
	<filter>
        <filter-name>notCheckFile</filter-name>
        <filter-class>com.zfsoft.hrm.file.filter.FileNotReadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>notCheckFile</filter-name>
        <url-pattern>/file/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>notCheckFile</filter-name>
        <url-pattern>/kindeditor/uploadJson.html</url-pattern>
    </filter-mapping>
    <!-- 结束 -->
    
    <!-- 微信登录过滤器 -->
    <filter>
        <filter-name>WeiXinBinding</filter-name>
        <filter-class>com.zfsoft.wechat.model.filter.WeChatLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>WeiXinBinding</filter-name> 
        <url-pattern>/*</url-pattern> 
    </filter-mapping>
	<!-- 结束 -->
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>
                struts-default.xml,struts-plugin.xml,/conf/struts/struts.xml
            </param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath*:/conf/config/config*.xml,
            classpath*:/conf/spring/common.xml,
            classpath*:/conf/spring/config*.xml,
            classpath*:/conf/spring/plus/config*.xml
        </param-value>
	</context-param>
	
	<!-- session超时定义,单位为分钟 -->
	<session-config>
		<session-timeout>300000</session-timeout>
	</session-config>
	<welcome-file-list>
		
		<welcome-file>/WEB-INF/pages/globalweb/login_r.jsp</welcome-file>
		<!--  
		<welcome-file>/WEB-INF/pages/wjdc/mobile/login.jsp</welcome-file>
		-->		
	</welcome-file-list>
</web-app>